################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FarmSystem.Test1/obj/Debug
/.vs/Emydex.FarmSystem.Test/v15/Server/sqlite3
/.vs/Emydex/v17/.wsuo
/.vs/Emydex/v17/DocumentLayout.json
/.vs/Emydex.FarmSystem.Test/FileContentIndex/11365446-0278-4149-869c-5407e26a3b78.vsidx
/.vs/Emydex.FarmSystem.Test/FileContentIndex/fe545490-b092-4bbc-950d-1ff6fa7f88fb.vsidx
/.vs/Emydex.FarmSystem.Test/v17/.suo
/.vs/Emydex.FarmSystem.Test/v17/DocumentLayout.backup.json
/.vs/Emydex.FarmSystem.Test/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/Emydex.FarmSystem.Test/CopilotIndices/17.14.670.39694
/.vs/Emydex.FarmSystem.Test/FileContentIndex
*.dll
/FarmSystem.Test1/packages.config
/FarmSystem.Test1/bin/debug
